{% extends 'fms/base.html' %}
{% load static%}
{% block content %}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        
            <div class="row align-items-center">
                
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                     
                       
                    </ul>
                </div>
                </div>
                    </div>
                </div>
                <!-- Page-header end -->
                <div class="pcoded-inner-content">
                <!-- Main-body start -->
                <div class="main-body">
                    <div class="page-wrapper">
              
                <!-- Page body start -->
                
                 
               
                  
        
    

</div>
        <!-- Warning Section Starts -->
        <!-- Older IE warning message -->

    <!-- Required Jquery -->
    <script type="text/javascript" src="{% static 'assets/js/jquery/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/jquery-ui/jquery-ui.min.js'%} "></script>
    <script type="text/javascript" src="{% static 'assets/js/popper.js/popper.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/bootstrap/js/bootstrap.min.js'%} "></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'assets/js/jquery-slimscroll/jquery.slimscroll.js'%} "></script>
    <!-- waves js -->
    <script src="{% static 'assets/pages/waves/js/waves.min.js'%}"></script>

    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'assets/js/SmoothScroll.js'%}"></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%} "></script>
    <!-- Custom js -->
    <script src="{% static 'assets/js/pcoded.min.js'%}"></script>
    <script src="{% static 'assets/js/vertical-layout.min.js'%} "></script>
    <script src="{% static 'assets/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'assets/js/script.js'%}"></script>

{% endblock %}